<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3">
			<h2><span class="bi bi-arrow-left-right"></span> Developer API</h2>
			<p><a href="/">Bibler</a> supports a RESTful JSON API for developing your own mashups.</p>
			<p>Developers are free to integrate Bibler into custom applications. It's fine to use the public site for light development and testing purposes, but you'll be blocked if you make excessive requests. If you're integrating with a heavy production app,
				you need to deploy your own copy of <a href="/">Bibler</a>. </p>
		</div>
		<div class="col-sm-9">
			<div class="card bg-light mb-3" id="bibles">
				<div class="card-body">
					<h4><small>GET </small> the global bible list</h4>
					<p>
						<a [href]="biblerService.getUrl() + '/bibles.json'">
							{{biblerService.getUrl()}}/bibles.json
						</a>
					</p>
					<button aria-controls="bibles_result" aria-expanded="false" class="btn btn-primary" data-bs-target="#bibles_result" data-bs-toggle="collapse" type="button">
						<span class="bi bi-eye"></span> Show Result
					</button>
					<pre class="collapse" id="bibles_result">
						<small>{{stringify(bibles)}}</small>
					</pre>
				</div>
			</div>
			<div class="card bg-light mb-3" id="books">
				<div class="card-body">
					<h4><small>GET </small> the global book list</h4>
					<p>
						<a [href]="biblerService.getUrl() + '/books.json'">
							{{biblerService.getUrl()}}/books.json
						</a>
					</p>
					<button aria-controls="books_result" aria-expanded="false" class="btn btn-primary" data-bs-target="#books_result" data-bs-toggle="collapse" type="button">
						<span class="bi bi-eye"></span> Show Result
					</button>
					<pre class="collapse" id="books_result">
						<small>{{stringify(books)}}</small>
					</pre>
				</div>
			</div>
			@if (bible && book && chapters) {
				<div class="card bg-light mb-3" id="chapters">
					<div class="card-body">
						<h4><small>GET </small> chapter list for a bible book</h4>
						<p>
							<a [href]="biblerService.getUrl() + '/' + bible.slug + '/' + book.slug + '.json'">
								{{biblerService.getUrl()}}/{{bible.slug}}/{{book.slug}}.json
							</a>
						</p>
						<button aria-controls="chapters_result" aria-expanded="false" class="btn btn-primary" data-bs-target="#chapters_result" data-bs-toggle="collapse" type="button">
							<span class="bi bi-eye"></span> Show Result
						</button><pre class="collapse" id="chapters_result">
							<small>{{stringify(chapters)}}</small>
						</pre>
					</div>
				</div>
			}
			@if (bible && book && chapter) {
				<div class="card bg-light mb-3" id="verses">
					<div class="card-body">
						<h4><small>GET </small> all verses of a bible book</h4>
						<p>
							<a [href]="biblerService.getUrl() + '/' + bible.slug + '/' + book.slug + '/' + chapter + '.json'">
								{{biblerService.getUrl()}}/{{bible.slug}}/{{book.slug}}/{{chapter}}.json
							</a>
						</p>
						<button aria-controls="verses_result" aria-expanded="false" class="btn btn-primary" data-bs-target="#verses_result" data-bs-toggle="collapse" type="button">
							<span class="bi bi-eye"></span> Show Result
						</button>
						<pre class="collapse" id="verses_result">
							<small>{{stringify(verses)}}</small>
						</pre>
					</div>
				</div>
			}
			@if (bible) {
				<div class="card bg-light mb-3" id="search">
					<div class="card-body">
						<h4><small>POST</small> a full text bible search</h4>
						<p>{{biblerService.getUrl()}}/{{bible.slug}}/search.json</p>
						<h6>parameters</h6>
						<pre>{{'{'}}text: 'jesus christ{{'}'}} // required</pre>
					</div>
				</div>
			}
		</div>
	</div>
</div>
