<header>
	<h1>
		<a routerLink="/" routerLinkActive="active">
			&nbsp;
			<span class="glyphicon glyphicon-book"></span> Bible<span class="text-info">r</span>
			<small>
				<b>&nbsp;&nbsp;&nbsp;/ˈbaɪblər/</b>
			</small>
		</a>
		<small>
			<span class="tagline">&nbsp; Christian bible reference and
				<!-- <button > -->
					<a id="api_page_link"  class="btn btn-small btn-default" routerLink="/api" routerLinkActive="active"><span class="glyphicon glyphicon-transfer"></span> API</a>
				<!-- </button> -->
				<!-- API -->
			</span>
		</small>
	</h1>
</header>

<router-outlet>
</router-outlet>
