<footer class="footer">
    <br>
    <p class="text-center">
        <span class="text-body">
            <span class="bi bi-heart"></span> Designed with love by Preston Lee for desktop and tablet browsers.
        </span>
        <br>
        <small>
            <span><a [routerLink]="['/api']"><span class="bi bi-arrow-left-right"></span> API Usage</a></span>
            |
            <span><a href="https://github.com/preston/bibler/issues"><span class="bi bi-lightning"></span>
                    Bug Reports &amp; Feature Requests</a></span> |
            <span><a href="https://www.linkedin.com/in/prestonvictorlee"><span
                        class="bi bi-person"></span> Author</a></span> |
            <span>&copy; 2016-2026 Preston Lee</span>
        </small>
    </p>
</footer>
