<div class="container-fluid">
    <br>
    <div class="card bg-light mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <form (ngSubmit)="search()" role="form">
                        <div class="form-group">
                            <label for="bible_select"><span class="bi bi-book"></span> Bible</label>
                            <select class="form-control" id="bible_select" (change)="selectBible($any($event.target).value)">
                                @for (b of bibles; track b.slug; let i = $index) {
                                    <option [value]="b.slug" [selected]="b.slug == bible?.slug">{{b.name}}</option>
                                }
						</select>
                        </div>
                        <div class="form-group">
                            <label for="bible_search_text"><span class="bi bi-search"></span> Full Text Search</label>
                            <div class="input-group">
                                <input autofocus="true" name="text" class="form-control" (keyup.enter)="search()" [(ngModel)]="searchText" type="search">
                                <button class="btn btn-primary" [disabled]="!validSearch()" type="submit">
									<span class="bi bi-search"></span> Search
                                </button>
                            </div>
                            <span class="text-muted">Queries must be at least 3 characters.</span>
                            @if (validSearch() && verses.length > 0) {
                                <span class="text-end d-block">
                                    <span class="badge">{{verses.length}} results</span>
                                    @if (verses.length >= 100) {
                                        <i class="text-danger"> (limited)</i>
                                    }
                                </span>
                            }
                        </div>
                    </form>
                </div>
                <div class="col-sm-6">
                    <h3><span class="bi bi-search"></span> What does this do?</h3>
                    <p class="form-text text-muted">The tool allows you to search the entire bible, based on the translation of your choosing. You may seperate multiple words using spaces, though results are limited to 100 per query.</p>
                </div>
            </div>
        </div>
    </div>
    @if (verses.length > 0) {
        <div>
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th class="col-sm-1"><a (click)="resort()">Book</a></th>
                        <th class="col-sm-1">Chapter</th>
                        <th class="col-sm-1">Verse</th>
                        <th class="col-sm-8">Text</th>
                        <th class="col-sm-1"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (v of verses; track v.ordinal) {
                        <tr>
                            <td>{{v.book.name}}</td>
                            <td>{{v.chapter}}</td>
                            <td>{{v.ordinal}}</td>
                            <td [innerHTML]="v.highlightedText"></td>
                            <td>
                                <a [href]="verseMailTo(v)">
                                    <span class="bi bi-envelope"></span>&nbsp;Email
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>