
// body {
    // background-color: none;
    // background: url('/assets/textures/tileable_wood_texture.png') repeat;
// }

// input:invalid,
// textarea:invalid {
//     box-shadow: 0 10px 10px rgba(220, 13, 23, .5);
// }

// header {
//     text-shadow: 0 4px 4px rgba(0, 0, 0, .2);
//     a {
//         -webkit-transition: all 0.2s ease-out;
//         -moz-transition: all 0.2s ease-out;
//         -o-transition: all 0.2s ease-out;
//         transition: all 0.2s ease-out;
//     }
//     a:hover {
//         text-decoration: none;
//         text-shadow: -4px 4px 4px rgba(0, 0, 0, .4);
//         -webkit-transition: all 0.2s ease-out;
//         -moz-transition: all 0.2s ease-out;
//         -o-transition: all 0.2s ease-out;
//         transition: all 0.2s ease-out;
//     }
// }

// footer p>span {
//     padding: 20px;
// }

// .jumbotron {
//     box-shadow: 0 20px 20px rgba(0, 0, 0, .8);
//     background-color: none;
//     background: url('/assets/textures/xv.png') repeat;
// }

.highlight {
    background: rgba(230, 230, 0, .5);
}

@media(max-width:768px) {
    .tagline {
        display: none;
    }
}

// table.table tbody {
//     tr.selected {
//         background-color: #a7c6d8;
//         -webkit-transition: all 0.2s ease-out;
//         -moz-transition: all 0.2s ease-out;
//         -o-transition: all 0.2s ease-out;
//         transition: all 0.2s ease-out;
//     }
//     tr {
//         -webkit-transition: all 0.2s ease-out;
//         -moz-transition: all 0.2s ease-out;
//         -o-transition: all 0.2s ease-out;
//         transition: all 0.2s ease-out;
//     }
//     tr:hover:not(.selected) {
//         background-color: #c7e6f8;
//         -webkit-transition: all 0.2s ease-out;
//         -moz-transition: all 0.2s ease-out;
//         -o-transition: all 0.2s ease-out;
//         transition: all 0.2s ease-out;
//     }
// }
